<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view"
                 style="background-image: url('http://getwallpapers.com/wallpaper/full/b/a/3/427741.jpg#.Xo9eQ_Sv5rI.link'); background-repeat: no-repeat; background-size: cover;">
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>WELCOME TO STEEL LEGION</strong>
                        </h1>
                        <p>
                            <strong>You have come to the right place!!</strong>
                        </p>
                        <p class="mb-4 d-none d-md-block">
                            <strong>Get your own gadgets. We sell the best military grade,
                                100% premium firearms and ammunition here at Steel Legion.</strong>
                        </p>
                        <a href="{{ product_list_url }}"
                           class="btn btn-outline-white btn-lg">SHOP NOW
                            <i class="fas fa-crosshairs"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="view"
                 style="background-image: url('https://i.pinimg.com/originals/43/56/b6/4356b69d692627b4bdcf152e99e8d7f7.jpg'); background-repeat: no-repeat; background-size: cover;">
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Aim Small Miss Small</strong>
                        </h1>
                        <p>
                            <strong>You can control hundreds with a gun</strong>
                        </p>
                        <p class="mb-4 d-none d-md-block">
                            <strong>Get your own gadgets. We sell the best military grade,
                                100% premium firearms and ammunition here at Steel Legion.</strong>
                        </p>
                        <a href="{{ product_list_url }}"
                           class="btn btn-outline-white btn-lg">SHOP NOW
                            <i class="fas fa-crosshairs"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="view"
                 style="background-image: url('https://wallpapershome.com/images/pages/pic_h/1478.jpg'); background-repeat: no-repeat; background-size: cover;">
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>One Shot One Kill</strong>
                        </h1>
                        <p>
                            <strong>Kill it, Before it kills you</strong>
                        </p>
                        <p class="mb-4 d-none d-md-block">
                            <strong>Get your own gadgets. We sell the best military grade,
                                100% premium firearms and ammunition here at Steel Legion.</strong>
                        </p>
                        <a href="{{ product_list_url }}"
                           class="btn btn-outline-white btn-lg">SHOP NOW
                            <i class="fas fa-crosshairs"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>