{% extends 'base.html' %}
{% load static %}

{% block content %}
{% url 'register' as register_url %}
<body>

<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <h2 class="my-5 h2 text-center">User Login</h2>
    </div>
</main>
</body>

<form class="text-center border border-light p-5" method="post">{% csrf_token %}

    {{ form }}
    <input class="btn btn-info my-4 btn-block" type="submit">
    <p>New to Steel Legion? <a href="{{ register_url }}">Register </a>here.</p>
</form>

{% endblock %}
